@page
@model VynilVerseWebRazor_Temp.Pages.Genres.DeleteModel


<form method="post">
    <input asp-for="Genre.Id" hidden/>
    <div class="border p-3 mt-4">
        <div class="row pb-2">
            <h2 class="text-primary">Delete Genre</h2>
            <hr />
        </div>
        <div class="mb-3 row p-1">
            <label asp-for="Genre.Name" class="p-0"></label>
            <input asp-for="Genre.Name" disabled class="form-control" />
        </div>
        <div class="mb-3 row p-1">
            <label asp-for="Genre.DisplayOrder" class="p-0"></label>
            <input asp-for="Genre.DisplayOrder" disabled class="form-control" />
        </div>
        <div class="row">
            <div class="col-6 col-md-3">
                <button type="submit" class="btn btn-danger form-control">Cofirm</button>
            </div>
            <div class="col-6 col-md-3">
                <a asp-page="/genres/index" class="btn btn-outline-secondary form-control">Back To List</a>
            </div>
        </div>
    </div>
</form>
