@model AlbumAdminCreateDto

<div class="card shadow border-0 my-4">
    <div class="card-header bg-secondary bg-gradient m-lg-0 py-3">
        <div class="row">
            <div class="col-12 text-center">
                <h2 class="text-white py-2">Add Album</h2>
            </div>
        </div>
    </div>
    <div class="card-body p-4">
        <form method="post" class="row" id="albumForm" onsubmit="populateTracksInput()">
            <div class="border p-3">
                <div class="form-floating py-2 col-12">
                    <input asp-for="Title" class="form-control border-0 shadow" />
                    <label asp-for="Title" class="ms-2"></label>
                    <span asp-validation-for="Title" class="text-danger"></span>
                </div>
                <div class="form-floating py-2 col-12">
                    <select asp-for="@Model.ArtistId" aria-required="true" class="form-control border-0 shadow" asp-items="@(new SelectList(Model.Artists, "Id", "Name"))">
                        <option>Please select an artist</option>
                    </select>
                    <label asp-for="ArtistId" class="ms-2">Artist</label>
                    <span asp-validation-for="ArtistId" class="text-danger"></span>
                </div>
                <div class="form-floating py-2 col-12">
                    <select asp-for="@Model.GenreId" aria-required="true" class="form-control border-0 shadow" asp-items="@(new SelectList(Model.Genres, "Id", "Name"))">
                        <option>Please select a genre</option>
                    </select>
                    <label asp-for="GenreId" class="ms-2">Genre</label>
                    <span asp-validation-for="GenreId" class="text-danger"></span>
                </div>
                <div class="form-floating py-2 col-12">
                    <input asp-for="YearOfRelease" class="form-control border-0 shadow" />
                    <label asp-for="YearOfRelease" class="ms-2"></label>
                    <span asp-validation-for="YearOfRelease" class="text-danger"></span>
                </div>
                <div class="form-floating py-2 col-12">
                    <textarea asp-for="Description" class="form-control border-0 shadow"></textarea>
                    <label asp-for="Description" class="ms-2"></label>
                    <span asp-validation-for="Description" class="text-danger"></span>
                </div>
                <div class="form-floating py-2 col-12">
                    <input asp-for="Price" class="form-control border-0 shadow" />
                    <label asp-for="Price" class="ms-2"></label>
                    <span asp-validation-for="Price" class="text-danger"></span>
                </div>
                <div class="form-floating py-2 col-12">
                    <input asp-for="Price50" class="form-control border-0 shadow" />
                    <label asp-for="Price50" class="ms-2">Price 50+ pcs.</label>
                    <span asp-validation-for="Price50" class="text-danger"></span>
                </div>
                <div class="form-floating py-2 col-12">
                    <input asp-for="Price100" class="form-control border-0 shadow" />
                    <label asp-for="Price100" class="ms-2">Price 100+ pcs.</label>
                    <span asp-validation-for="Price100" class="text-danger"></span>
                </div>
                <div class="form-floating py-2 col-12">
                    <input asp-for="Quantity" class="form-control border-0 shadow" />
                    <label asp-for="Quantity" class="ms-2"></label>
                    <span asp-validation-for="Quantity" class="text-danger"></span>
                </div>
                <div class="form-floating py-2 col-12">
                    <input asp-for="Rating" class="form-control border-0 shadow" />
                    <label asp-for="Rating" class="ms-2"></label>
                    <span asp-validation-for="Rating" class="text-danger"></span>
                </div>
                <div class="form-floating py-2 col-12">
                    <input asp-for="CoverImageUrl" class="form-control border-0 shadow" />
                    <label asp-for="CoverImageUrl" class="ms-2"></label>
                    <span asp-validation-for="CoverImageUrl" class="text-danger"></span>
                </div>
                <div class="py-2 col-12">
                    <button type="button" id="addTrackButton" class="btn btn-sm btn-outline-primary mt-2">Add Track</button>
                    <table id="trackList" class="table">
                        <thead>
                            <tr>
                                <th>Track Title</th>
                                <th>Actions</th>
                            </tr>
                        </thead>
                        <tbody>
                        </tbody>
                    </table>
                </div>
                <div class="row mt-2">
                    <div class="col-6 col-md-3">
                        <input type="hidden" id="tracksInput" name="tracks" />
                        <button type="submit" class="btn btn-primary form-control">Submit</button>
                    </div>
                    <div class="col-6 col-md-3">
                        <a asp-controller="Album" asp-action="Index" class="btn btn-outline-primary border form-control">Back To List</a>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>

<!-- Modal -->
<div id="trackModal" class="modal" tabindex="-1" role="dialog" aria-labelledby="trackModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="trackModalLabel">Add Track</h5>
            </div>
            <div class="modal-body">
                <input type="text" id="newTrackTitle" class="form-control" placeholder="Enter track title" />
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" id="closeModalButton">Close</button>
                <button type="button" id="addTrackButtonModal" class="btn btn-primary">Add Track</button>
            </div>            
        </div>
    </div>
</div>


@section Scripts {
    @{
        <partial name="_ValidationScriptsPartial" />
    }
    <script src="~/js/album.js"></script>
}